* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: #141414;
  padding: 3rem;
  color: #e5e5e5;
  font-family: system-ui, sans-serif;

}

main {
  display: grid;
  gap: 1ch;
  
}

@media (width >= 628px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}



h1 {
  font-weight: 600;
  font-size: 3rem;

}
.details button {
  margin: 10px 0 10px 0;
  padding: 6px;
}

.details p {
  color: #cecece;
  margin: 3px 0 10px 0;


}
.details h3 {
  color: #cecece;
  margin: 10px 0 3px 0;


}

.episodeList ul {
  color: #e5e5e5;
  padding-left: 20px;    /* remove default left indent */
  margin-left: 0; 
}

.episodeList li {
  color: #9e9e9e;
  list-style-type: disc;
  margin-left: 1.5rem;
  cursor: pointer;
  list-style: none;
  margin: 10px;
}
.episodeList li:hover {
  color: #e5e5e5
}

